


.m1 {
  padding-right: 18px;
  margin: -10px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  
  background: url(../imagens/Background_Intro.png);
  background-position: left;
  background-size: cover;

}

.m2 {
  background: #16181D;
  background-position: left;
  display: grid;
  padding-right: 16px;
  margin: -8px;
}

.perfil {
  width: 150px;
  height: 150px;
  border: 2px solid var(--background-red);  /* Cor da borda */
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  align-content: center;
  padding: 0;
  margin: 40px;
  box-sizing: border-box;
  background-color: none; /* opcional, depende do design */
}

.foto-perfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.code-icon {
  position: absolute;
  top: 156px;
  right: 888px;
}

.menu {
  display: grid;
  grid-auto-flow: column; /* ← Agora os itens ficam na horizontal */
  gap: 6px;
  padding: 16px;
  border-radius: 12px;
  justify-content: center;
}

#icons {
  font-size: var(--asap-md);
  font-family: 'Asap';
  color: var(--color-gray2);
}

.menu-item {
  display: grid;
  grid-auto-flow: column; /* ícone + texto na horizontal */
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  background-color: var(--color-gray4);
  border-radius: 999px;
  width: max-content;
  
}

#name {
  color: var(--background-red);
}

.descricao {
  color: var(--color-gray2);
  text-align: center;
  font-size: var(--text-sub);
  font-family: 'inconsolata';
}

#profissao {
  color: var(--color-gray2);
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: var(--color-gray3);
  text-align: center;
  font-size: var(--maven-sm);
  font-family: 'maven pro';
}

.menu-item img {
  width: 20px;
  height: 20px;
}

.vector {
  
    height: 360px;
    display: grid;
    align-content: center;
    justify-content: space-around;

}

.job {
  color: var(--background-red);
  font-size: var(--text-sub);
  font-family: Arial, Helvetica, sans-serif;
}

.pj {
  color: var(--color-gray);
  font-size: var(--asap-md);
  font-family: Arial, Helvetica, sans-serif;
}

.projetos-destaque {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 144px;
  
}



.card > p {
  padding-top: 4px;
  color: var(--color-gray2);
  font-size: var(--maven-sm);
  text-align: left;
  
}

.card {
  padding: 16px;
  border-radius: 12px;
  background-color: #2b2b3d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card:active {
  transform: scale(1.03);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

h3 {
  margin: 12px 0 8px;
  font-size: var(--maven-sm);
  font-family: 'maven pro';
  
}

section {
  margin: -8px;;
  background: var(--color-gray6);
  display: grid;
  padding-bottom: 200px;
}

.servicos {
  margin: 56px;
  
}

#p1 {
  color: var(--background-red);
  font-size: var(--text-sub);
  font-family: 'inconsolata';
}

#p2 {
  color: var(--color-gray);
  font-size: var(--asap-md);
  font-family: 'Asap';
}

.negocio {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  align-items: center;
  gap: 40px;
  
}

.negocio > span > img {
  margin: 20px;
}

.subtitulo {
  color: var(--color-gray);
  margin-left: 10px;
}

span > p {
  color: var(--color-gray2);
  margin-left: 10px;
}

.negocio > span {
  border-radius: 6%;
  border: 2px solid var(--color-gray5);
  padding-right: 36px;

}



footer {
  display: grid;
  background: url(../imagens/Background_Intro.png);
  background-position: left;
  background-size: cover;
  margin: -8px;
  padding: 33px;
  justify-content: center;
  text-align: center;
}

#p4 {
  color: var(--background-purple);
  font-size: var(--text-sub);
  font-family: 'inconsolata';
}

footer > div > h3 {
  display: grid;
  color: var(--color-gray);
  font-size: var(--asap-md);
  font-family: 'Asap';
}

#p6 {
  color: var(--color-gray2);
  font-size: var(--asap-md);
  font-family: 'Asap';
}

.contato {
  display: grid;
  place-items: center;
  
}

.contato > a {
  display: grid;
  padding: 10px;
  cursor: pointer;
  transition: background-color 2s ease;
}

.contato > a:hover {
  background-color: rgba(174, 174, 182, 0.535);
}



